# Large dataset files
data/raw/
data/processed/

# Saved ML models
models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db